div#app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "topNav  topNav"
    "sideNav content";
}

nav#nav-top {
  grid-area: topNav;
  height: var(--sp7);
  padding-left: var(--sp1);
  display: flex;
  align-items: center;
  background: var(--white);
  border-bottom: 1px solid var(--gray1);
}

nav#nav-top a {
  margin-top: -2px;
}

nav#nav-top h3 {
  font-weight: 700;
  margin-top: 2px;
}

nav#nav-side {
  grid-area: sideNav;
  width: var(--sp7);
  display: flex;
  align-items: center;
  flex-flow: column;
  background: var(--white);
  border-right: 1px solid var(--gray1);
  border-top: 1px solid white;
  margin-top: -1px;
  padding: var(--sp2) 0;
}

nav#nav-side > a {
  padding: var(--sp1);
  width: 28px;
  height: 28px;
  margin-bottom: var(--sp2);
}
