h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0 0 var(--sp3) 0;
}


h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h4, h5 {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

h5 {
  float: right;
}

label {
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1rem;
  letter-spacing: 0.32px;
}

p, pre {
  margin: 0 0 var(--sp4);
}

p:last-child, pre:last-child {
  margin: 0;
}

code, pre {
  font-size: 0.75rem;
  padding: 2px var(--sp2);
  background: var(--gray1);
  border: 1px solid var(--gray2);
}

pre {
  width: calc(var(--sp9) * 7);
}

pre > code {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
