:root {
  --gray1: #f8f9fa;
  --gray2: #dde2e5;
  --gray3: #acb5bd;
  --gray4: #495057;
  --primary: #0038ff;
  --primary-hover: #0032e3;
  --secondary: #141618;
  --error: #da1e28;
  --success: #1d833b;
  --highlight: #ffe55e;

  --transition-short: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  --transition-long: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
