:root {
  --primary:#0038ff;
  --primary-hover:#0032e3;
  --secondary:#141618;
  --error:#da1e28;
  --success:#1d833b;
  --highlight:#ffe55e;

  --peach1:#ffe55e;
  --peach2:#da1e28;

  --berry1:#e1eec3; 
  --berry2:#0032e3; 

  --lime1:#e1eec3; 
  --lime2:#1d833b;
}