:root {
  --primary: #0038ff;
  --primary-hover: #0032e3;
  --secondary: #141618;
  --error: #da1e28;
  --success: #1d833b;
  --highlight: #ffe55e;

  --series0: #0032e3;
  --series1: #1d833b;
  --series2: #da1e28;
  --series3: #ee00ff;
  --series4: #00d0ff;

  --gradient0a: #ffe55e;
  --gradient0b: #da1e28;

  --gradient1a: #ee00ff;
  --gradient1b: #3c0040;

  --gradient2a: #00d0ff;
  --gradient2b: #003642;

  --gradient3a: #2cff00;
  --gradient3b: #0c4700;

  --gradient4a: #a3c8ff;
  --gradient4b: #2e3847;

  --gradient5a: #ffc9ff;
  --gradient5b: #473847;
}
