@tailwind base;

*,
*::before,
*::after {
  box-sizing: border-box;
  border-radius: 2px;
}

body {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

:focus,
button:focus {
  outline: #0062ff solid 2px;
  outline-offset: 1px;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

h6 {
  font-size: inherit;
  line-height: inherit;
}

small {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

b,
strong {
  font-weight: bold;
}

a {
  @apply text-blue;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  @apply text-blue-dark;
  text-decoration: none;
}

[hidden] {
  display: none !important;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: 8px;
}

/********** FORMS **********/
form {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  @apply p-3;
}

form > label {
  @apply mt-3 mb-1;
}

input {
  @apply bg-white rounded-sm border border-gray-3 block p-1;
  height: 30px;
}

select {
  @apply p-2 border border-gray-3 rounded-sm;
  height: 30px;
}

input[type="radio"] {
  box-shadow: none;
  height: auto;
}

input[type="color"] {
  background: white;
  @apply w-full;
  padding: 0 1px;
  height: 30px;
}

input[type="color"]:hover {
  cursor: pointer;
}

@tailwind components;

@tailwind utilities;
