table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

th, td {
  text-align: left;
  border: none;
  @apply py-2;
  @apply px-0;
  @apply bg-white;
  @apply border-b;
  @apply border-gray-1;
  @apply h-5;
}

th {
  position: sticky;
  top: 0;
  z-index: 1000;
  cursor: pointer;
  user-select: none;
  @apply border-b;
  @apply border-gray-1;
}

th > * {
  float: left;
}

th:first-child, td:first-child {
  @apply pl-5;
}

th:last-child, td:last-child {
  @apply pr-5;
}

table > caption {
  position: sticky;
  top: 0;
  text-align: left;
  @apply h-7;
  @apply bg-white;
  @apply py-2;
  @apply px-5;
  z-index: 1000;
}

table > caption > h2 {
  float: left;
}

table > caption > section {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
