/* base button style */
button {
  height: var(--sp7);
  padding: 0 var(--sp3);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  fill: var(--white);
  border-radius: 0;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  transition: background var(--transition-medium);
  transition: color var(--transition-medium);
  border: 1px solid white;
  margin: 0;
}

button.secondary {
  background: var(--black);
  margin: 0;
}

button:disabled {
  background: var(--gray2);
  color: var(--gray4);
  cursor: not-allowed;
}

button.ghost:disabled,
button.icon:disabled {
  color: var(--gray4);
}

button.primary, button {
  background: var(--blue);
  margin: 0;
}

button.ghost {
  background: transparent;
  color: var(--blue);
  height: auto;
  width: auto;
  padding: var(--sp2);
  border: none;
  margin: 0;
}

button,
button.primary > svg,
button.secondary > svg {
  fill: white;
}

button > svg {
  margin-left: var(--sp2);
}

button.icon > svg {
  margin: 0;
}

button.icon {
  background: transparent;
  color: currentColor;
  padding: var(--sp1);
  margin: var(--sp1);
  width: auto;
  height: auto;
}

button:focus {
  outline: var(--focus-outline);
}

button.icon:hover {
  color: var(--gray6);
}

button.ghost:hover {
  color: var(--blue-hover);
}

button.primary:hover {
  background: var(--blue-hover);
}

button.secondary:hover {
  background: black;
}
