form {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  @apply p-3;
  @apply pb-9;
}

form > fieldset:last-child {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  flex-flow: row no-wrap;
  padding: 0;
  border: 0;
  @apply h-8;
  margin: 0;
}

form > fieldset:last-child > button {
  margin: 0;
  width: 50%;
  height: 100%;
}

form legend {
  margin: 0;
}

form > label {
  @apply mt-3;
  @apply mb-1;
}

form > label:first-child {
  margin: 0;
}

input {
  @apply p-1;
  @apply h-5;
  border-radius: 3px;
  @apply border;
  @apply border-gray-2;
}

input[type=radio] {
  box-shadow: none;
  height: auto;
}

input[type=color] {
  background: white;
  @apply w-9;
  padding: 2px 4px;
}
