.loading {
	width: 50px;
	height: 18px;
	border: 1px var(--black) solid;
	border-radius: 4px;
	background: linear-gradient(-60deg, transparent 0%, transparent 50%, var(--black) 50%, var(--black) 75%, transparent 75%, transparent);
	background-size: 20px 30px;
	background-position: 0px 0px;
	-webkit-animation: spLoadBar 0.8s infinite linear;
	animation: spLoadBar 0.8s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spLoadBar {
	from { background-position: 0px 0px; }
	to { background-position: -20px 0px; }
}
