div#modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: var(--z9);
}

div#modal-overlay > figure {
  width: calc(var(--sp9) * 5);
}
